.button {
  background: linear-gradient(to bottom, #3e5be6 5%, #b0a8b6 100%);
  background-color: #2a70ad;
  border-radius: 30px;
  border: 1px solid #b9f7bf;
  cursor: pointer;
  color: #ffffff;
  width: 100%;
  padding: 6px 3px;
}
.button:hover {
  background: linear-gradient(to bottom, #b75bf9 5%, #b0a8b6 100%);
  background-color: #4186c2;
}
