.button {
  background: linear-gradient(to bottom, #2a70ad 5%, #4186c2 100%);
  background-color: #2a70ad;
  border-radius: 7px;
  border: 1px solid #b9f7bf;
  cursor: pointer;
  color: #ffffff;
  width: 100%;
  padding: 6px 3px;
}
.button:hover {
  background: linear-gradient(to bottom, #4186c2 5%, #2a70ad 100%);
  background-color: #4186c2;
}
