.datePicker input {
  width: 100%;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 5px;
  padding: 5px;
}
.datePicker input::placeholder {
  color: #ffffff;
}
.react-datepicker-wrapper {
  display: block;
}
