.tableContainer table {
  width: 95%;
  margin: 0 auto;
  border: 1px solid black;
  font-size: 10px;
  font-family: "Simonetta";
  color: #1c1d1e;
  text-shadow: 1px 1px white;
}
.tableContainer thead {
  border-bottom: 1px solid black;
}
.tableContainer th {
  background-color: #f3f4f5;
}
.tableContainer tr {
  background-color: #cdd5dd;
  cursor: pointer;
  border-bottom: 1px solid black;
}
.tableContainer tr:nth-child(even) {
  background-color: #dce1e6;
}
.tableContainer td {
  border-right: 1px solid black;
}

.tableContainer tr:hover {
  background-color: #f3f4f5;
}
@media screen and (min-width: 800px) {
  .tableContainer table {
    font-size: 15px;
  }
}
